import React from 'react';
import "./{{pascalCase name}}.css"



export const {{ pascalCase name }} = (props) => {
return (
<div>
  {{pascalCase name}}
</div>
);
};

export default {{pascalCase name}};